* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      background-color: rgb(5,5,5);
      color: white;
      font-family: "Fira Sans", serif;
      font-size: 1rem;
}

:where(ul, ol):where([class]) {
      padding-left: 0;
      margin-block: 0;
      list-style: none;
}

